{% extends "base.html" %}
{% block content %}
<div class="container">
  <h1 class="title">Take some notes for Xmas</h1>
  <span>🐸🐸</span>

  <h2 class="title" id="save-note" style="display: none;"></h2>
  <div class="input-group">
      <input type="text" id="note-content-input" class="form-control">
      <span type="submit" value="submit" id="submit_note" class="input-group-text">Submit</span> 
  </div>

  <div>
      <a type="button" class="btn" href="/notes">View other notes</a>
  </div>
  
</div>
<script src="main.js"></script>
{% endblock %}